@model IEnumerable<LeaveManagement_6.Models.LeaveTypeVM>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DefaultDays)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DefaultDays)
                </td>

                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    @*  <a asp-action="Delete" asp-route-id="@item.Id" id="deleteBtn">Delete</a> *@
                    <button type="button" class="btn btn-danger delete" id="deleteBtn" data-id="@item.Id">Delete</button>
                </td>
            </tr>
        }
    </tbody>
</table>

<form asp-action="Delete" id="DeleteForm">
    <input type="hidden" id="leaveTypeId" name="Id" />
</form>

@section Scripts {

    <script>
        $(function () {
            $(".delete").click(function () {
                debugger;
                var currentID = $(this);
                console.log(currentID);
                swal({
                    title: "Are you sure ?",
                    text: "Are you sure you want to delete",
                    icons: "Warning",
                    buttons: true,
                    dangerMode: true
                }).then((confirm) => {
                    if (confirm) {
                       
                        $("#leaveTypeId").val(currentID.data("id"));
                        $("#DeleteForm").submit();

                    }
                });
            })
        });
    </script>

}